/* Стили для index.html */

/* Герой */
.hero-title {
  background-color: var(--primary-text-color);
  color: var(--primary-white-color);
}

/* Кнопка */
.button {
  background-color: var(--background-button-color);
  color: var(--title-text-color);
}
.button.primary {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}
.button.secondary {
  background-color: var(--primary-white-color);
  color: var(--accent-color);
}
.button.current {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}

/* Привелегии */

.section-title {
  color: var(--title-text-color);
}
.features .title {
  color: var(--title-text-color);
}
.features .text {
  color: var(--primary-text-color);
}

/* Чем мы занимаемся */

.work .text {
  color: var(--primary-white-color);
  background-color: var(--background-color);
}
/* Команда */

.team .title {
  color: var(--title-text-color);
}
.team .text {
  color: var(--primary-text-color);
}
