/* цвет сновного текста #212121 */
/* вторичный цвет текста #757575 */
/* белый #FFFFFF */
/* акцент #2196F3 */
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --background-button-color: #f5f4fa;
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color: );
}

/* Шапка сайта */

.logo {
  color: var(--title-text-color);
}
.logo-blue {
  color: var(--accent-color);
}
.list {
  list-style: none;
}

/* Навигация */

.site-nav .link {
  color: var(--title-text-color);
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.site-nav .link.current {
  color: var(--accent-color);
}
.mail {
  color: var(--title-text-color);
}
.mail:hover {
  color: var(--accent-color);
}

/* Герой */

.hero-title {
  background-color: var(--primary-text-color);
  color: var(--primary-white-color);
}
/* Кнопка */
.button {
  background-color: var(--background-button-color);
  color: var(--title-text-color);
}

.button.primary {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}

.button.secondary {
  background-color: var(--primary-white-color);
  color: var(--accent-color);
}
.button.current {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}

/* Привелегии */

.section-title {
  color: var(--title-text-color) 1;
}
.features .title {
  color: var(--title-text-color);
}
.features .text {
  color: var(--primary-text-color);
}

/* Чем мы занимаемся */

.work .title {
  color: var(--primary-white-color);
}

/* Команда */

.team .title {
  color: var(--title-text-color);
}
.team .text {
  counter-reset: var(--primary-text-color);
}
